/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container2{
    position: relative;
    width: 100%;
    /* background: #fff; */
    /* margin: 0 15px; */
    padding: 10px 20px;
    border-radius: 7px;
}
.container2 .skill-box{
    width: 100%;
    margin: 25px 0;
    
}
.skill-box .title{
    display: block;
    /* font-size: 30px; */
    /* font-weight: 600; */
    color: white;
}
.skill-box .skill-bar{
    height: 16px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background:  #22c55e ;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.javascript{
    width: 60%;
    animation-delay: 0.2s;
}
.skill-per.nodejs{
    width: 40%;
    animation-delay: 0.3s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -50px;
    /* font-size: 20px; */
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);

}


  