.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .open {
    height: 10rem;
  }

  .hovereffect {
    width: 100%;
    height: 2px;
  }